
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 16px;
  background: rgba(32,12,70,0.83);
  background: linear-gradient(138deg,rgba(32,12,70,0.83) 10%, rgba(0,34,255,0.5) 80%);
  color: black;
  width: 100%;
}
img {
  width: 100%;
  display: block;
}
a{
  text-decoration: none;
  color: inherit;
 
}
li{
  list-style: none;
}

.btn {
  cursor: pointer;
  user-select: none;
  width: fit-content;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1em;
  
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

a{
  padding: 0.5em 0.7em;
  display: block;
}